<clients>

    <div th:if="${ not#lists.isEmpty(clients)}">
        <table class="table">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="client : ${clients}">
                <td th:text="${client.firstName}"></td>
                <td th:text="${client.lastName}"></td>
                <td th:if="${client.doctor == null}">
                    <a class="btn btn-info" th:href="@{/client/list/doc/{postalCode}/{id}(postalCode=${client.postalCode}, id=${client.id})}">Show near Doctors</a>
                </td>
                <td th:if="${client.doctor != null}">
                    <a class="btn btn-warning" th:href="@{/client/list/{clientId}/removeDoc/{doctorId}(clientId=${client.id}, doctorId=${client.doctor.id})}">Remove Current Doctor</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${ #lists.isEmpty(clients)}">
        <h3> No Clients </h3>
    </div>
    <script type="text/javascript">
        $("[name='deleteCourse']").click(function() {
            var urlCall = "/course/";
            $.ajax({
                url : urlCall + $(this).attr('id'),
                type : 'DELETE',
                success : function(result) {
                    console.log(result);
                    $(location).attr("href", value="/course");
                },
                error : function(result) {
                    console.log(result);S
                },
            });
        });
    </script>
</clients>