<doctors>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

    <div th:if="${ not#lists.isEmpty(doctors)}">
        <table class="table">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>City</th>
                <th>Postal Code</th>
                <th>Specialty</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="doctor : ${doctors}">
                <td th:text="${doctor.firstName}"></td>
                <td th:text="${doctor.lastName}"></td>
                <td th:text="${doctor.email}"></td>
                <td th:text="${doctor.phone}"></td>
                <td th:text="${doctor.address}"></td>
                <td th:text="${doctor.city}"></td>
                <td th:text="${doctor.postalCode}"></td>
                <td th:text="${doctor.speciality}"></td>
                <td th:if="${doctor.id}">
                    <!-- Iterate over clients for the current doctor -->
                    <div th:each="client : ${clients}">
                        <!-- Create a link for each client-doctor combination -->
                        <form th:action="@{/pending/insert/{client_id}/{doc_id}(postalCode=${client.postalCode}, client_id=${client.id}, doc_id=${doctor.id})}" method="post">
                            <input type="hidden" name="_method" value="post" />
                            <button type="submit" class="btn btn-info"><i class="fas fa-envelope"></i> Request Aprroval for <span th:text="${client.firstName}"></span> <span th:text="${client.lastName}"></span></button>
                        </form>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <div th:if="${ #lists.isEmpty(doctors)}">
       <h3> No Doctors </h3>
    </div>
</doctors>