<doctors>

    <div th:if="${ not#lists.isEmpty(doctors)}">
        <table class="table">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="doctor : ${doctors}">
                <td th:text="${doctor.firstName}"></td>
                <td th:text="${doctor.lastName}"></td>
                <td th:if="${doctor.id}">
                    <!-- Iterate over clients for the current doctor -->
                    <div th:each="client : ${clients}">
                        <!-- Create a link for each client-doctor combination -->
                        <a class="btn btn-info" th:href="@{/pending/insert/{client_id}/{doc_id}(postalCode=${client.postalCode}, client_id=${client.id}, doc_id=${doctor.id})}">
                            Request Aprroval for <span th:text="${client.firstName}"></span> <span th:text="${client.lastName}"></span>
                        </a>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <div th:if="${ #lists.isEmpty(doctors)}">
       <h3> No Doctors </h3>
    </div>
    <script type="text/javascript">
        $("[name='deleteCourse']").click(function() {
            var urlCall = "/course/";
            $.ajax({
                url : urlCall + $(this).attr('id'),
                type : 'DELETE',
                success : function(result) {
                    console.log(result);
                    $(location).attr("href", value="/course");
                },
                error : function(result) {
                    console.log(result);S
                },
            });
        });
    </script>
</doctors>