<pending_docs_clients>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <div th:if="${ not#lists.isEmpty(pendingAprovalsClients)}">
        <table class="table">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pending : ${pendingAprovalsClients}">
                <td th:text="${pending.client.firstName}"></td>
                <td th:text="${pending.client.lastName}"></td>
                <td th:if="${pending.client.id}">
                    <th:block th:if="${pending.doctor.currentClients lt pending.doctor.maxClients}">
                        <form style="display: inline-block" th:action="@{/pending/show/{doctorId}/{clientId}(doctorId=${pending.doctor.id}, clientId=${pending.client.id})}" method="post">
                            <input type="hidden" name="_method" value="post" />
                            <button type="submit" class="btn btn-info"><i class="fas fa-plus-square"></i> Accept Client</button>
                        </form>
                    </th:block>

                    <form style="display: inline-block" th:action="@{/pending/show/{doctorId}/{clientId}/decline(doctorId=${pending.doctor.id}, clientId=${pending.client.id})}" method="post">
                        <input type="hidden" name="_method" value="post" />
                        <button type="submit" class="btn btn-danger"><i class="fas fa-times-circle"></i> Decline Client</button>
                    </form>
                </td>


            </tr>

            </tbody>
        </table>
    </div>
    <div th:if="${ #lists.isEmpty(pendingAprovalsClients)}">
        <h3> No pending Clients </h3>
    </div>
</pending_docs_clients>