<pending_docs>

    <div th:if="${ not#lists.isEmpty(pendingAprovals)}">
        <table class="table">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pending : ${pendingAprovals}">
                <td th:text="${pending.doctor.firstName}"></td>
                <td th:text="${pending.doctor.lastName}"></td>
                <td th:if="${pending.doctor.id}">
                    <a class="btn btn-info" th:href="@{/pending/show/{doctorId}(doctorId=${pending.doctor.id})}">Show Pending Clients</a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <div th:if="${ #lists.isEmpty(pendingAprovals)}">
        <h3> No Doctors with pending Clients </h3>
    </div>
    <script type="text/javascript">
        $("[name='deleteCourse']").click(function() {
            var urlCall = "/course/";
            $.ajax({
                url : urlCall + $(this).attr('id'),
                type : 'DELETE',
                success : function(result) {
                    console.log(result);
                    $(location).attr("href", value="/course");
                },
                error : function(result) {
                    console.log(result);S
                },
            });
        });
    </script>
</pending_docs>